

body 
    font-family: "Open Sans", sans-serif

h1
    color: #ccc
    weight: 300

figure
    margin: auto

.content
    article
        padding: 100px 0
        height: 640px
        margin: 0 auto
        text-align: center

//Parallax

//Background
.image-holder
    height: 600px
    position: relative
    background: 
        image: url(../images/baujeni/background_layer_with_blur_black.png)
        size: auto 600px
        position: top center
        repeat: repeat-x
        attachment: fixed
    overflow: hidden

.border
    height: 600px
    width: 100%
    max-width: 100%
    background:
        size: auto 600px
        background-color: inherit
        image: url(../images/baujeni/border_blur.png)
        repeat: no-repeat
        postion: top center
    position: absolute
    

//logo
.logo
    height: 300px
    width: 300px
    z-index: 2
    background: 
        size: 100% 100%
        background-color: inherit
        image: url(../images/graphics/logo_jb_21.png)
        repeat: no-repeat
        position: center
    position: fixed
    top: 50%
    left: 50%
    margin-left: -100px
    margin-top: -150px
    

//humans
.humans
    height: 600px
    width: 100%
    position: relative
    background: 
        size: auto 600px
        background-color: inherit
        image: url(../images/baujeni/human_layer_with_shadow_nobgrd_black_blur.png)
        repeat: no-repeat
        postion: top center
