

body 
    font-family: "Open Sans", sans-serif

h1
    color: #ccc
    weight: 300

figure
    margin: auto

.content
    article
        padding: 100px 0
        height: 640px
        margin: 0 auto
        text-align: center

//Parallax

//Background
.image-holder
    height: 600px
    position: relative
    background: 
        image: url(../images/graphics/back_true.png)
        size: auto 600px
        position: top center
        repeat: repeat-x
        attachment: fixed
    overflow: hidden

///Users/bhaumikmistry/Desktop/bwedsj/images/graphics/back_true.png

.border
    height: 600px
    width: 100%
    position: absolute
    z-index: 3
    background:
        size: 100% 600px
        background-color: inherit
        image: url(../images/baujeni/border_blur.png)
        repeat: no-repeat
        background-size: cover;
        postion: top center

.blobs
    height: 600px
    width: 100%
    position: absolute
    z-index: 3
    background:
        size: 100% 600px
        background-color: inherit
        image: url(../images/graphics/blur_blobs.png)
        repeat: no-repeat
        background-size: cover;
        postion: top center
    

//logo
.logo
    height: 300px
    width: 300px
    z-index: 4
    background: 
        size: 100% 100%
        background-color: inherit
        image: url(../images/graphics/logo_jb_21.png)
        repeat: no-repeat
        position: center
    position: fixed
    top: 50%
    left: 50%
    margin-left: -100px
    margin-top: -150px
    

//humans
.humans
    height: 600px
    width: 100%
    position: absolute
    z-index: 2
    background: 
        size: auto 600px
        background-color: inherit
        image: url(../images/baujeni/human_layer_with_shadow_nobgrd_black_blur.png)
        repeat: no-repeat
        postion: top center

// second page - times.

.count
    margin-top: 150px
    height: 300px
    .background-time
        background: 
            image: url(../images/graphics/background_layer_with_blur_black.png)
            size: auto auto
            position: center
            repeat: repeat-x
            //attachment: fixed
        overflow: hidden
        height: 300px
        position: relative
        // background:
        //     color: pink
        //     size: 100% 100%
        //     mage: url(../images/graphics/background_layer_with_blur_black.png)
        .timeholder
            position: relative
            padding-top: 120px
            text-align: center
            margin: 0 auto
            width: 100%
        #time
            color: #FFF
            opacity: 0.8
            font-size: 80px
            margin-bottom: 0px
        #subtime
            color: #FFF
            opacity: 0.5
            font-size: 20px
    